[Unit]
Description=minio
After=network.target
 
[Service]
Type=simple
ExecStart=/app/park-script/minio_server start
 
[Install]
WantedBy=multi-user.target
